.login {
  background: #785be6;
  color: #fff;
  padding: 15px;
  border: 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.loginForm {
  text-transform: uppercase;
  font-size: 600;
  background: linear-gradient(0.25turn, #5799f8, #dd61f6, #c877f7);
  color: #fff;
  padding: 15px;
  border: 0;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.service {
  background: #785be6;
  font-size: 14px;
  color: #fff;
  padding: 14px 25px;
  border: 0;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
}

.icon {
  font-size: 20px;
  background-color: #785be6;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
