@import '../../../../index.scss';

.categoriesSidebarContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;

  h2 {
    font-size: 20px;
    font-weight: 800;
    color: #785be6;
  }

  .categoriesLinksBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width: $small) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5px;
    }
  }

  @media screen and (max-width: $small) {
    margin: 0 25px;
    width: 100%;
    width: fit-content;
  }
}
