.categoryPageContainer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  margin: 25px auto;
  min-height: 80vh;
  flex-direction: column;

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
    margin: 25px 0 0 0;
  }

  .categoryPageCardsContainer {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
