@import '../../../index.scss';

.servicesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  height: 10vh;

  @media screen and (max-width: $small) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
