.footerContainer {
  width: 100%;
  height: 8vh;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1280px;
    color: #000;
    margin: 0 auto;
  }
}
