@import '../../index.scss';

.footerContainer {
  width: 100%;
  max-width: 1280px;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: $small) {
    justify-content: center;
  }
}
